<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="__PUB__/DataTables/css/jquery.dataTables.css">
    <link href="__BOOT__/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery -->
 <script type="text/javascript" charset="utf8" src="__PUB__/DataTables/js/jquery.js"></script>
 
 <!-- DataTables -->
 <script type="text/javascript" charset="utf8" src="__PUB__/DataTables/js/jquery.dataTables.js"></script>
 <!-- <script src="__JQUERY__/jquery-2.1.1.min.js"></script> -->
 <script src="__BOOT__/js/bootstrap.min.js"></script>
 <script src="__PUB__/mtgadmin/mtg.js"></script>
<link rel="stylesheet" type="text/css" href="__PUB__/mtgadmin/mtg.css">
     <link rel="stylesheet" type="text/css" href="__PUB__/sweetalert-master/dist/sweetalert.css">
        <!-- <link href="__BOOT__/css/bootstrap.min.css" rel="stylesheet"> -->
        <script src="__PUB__/sweetalert-master/dist/sweetalert.min.js"></script> 

</head>
<body>
   <include  file="Public/sbider"  />
   <div class="table_div" >
<input type="hidden" id="modify_group" value="{:U('Admin/Index/modify_group')}">

<div class="mask"></div>
<div class="bomb_box" id="ph">

<label class="thename" id="thename">姓名：</label>
<label class="thename" id="thename" style="margin-left: 20px">等级：</label>
 <select name="group" id='group'>    
   <volist name="group_data" id="value" key="key" >                       
<option value="{$value.id}" >{$value.group_name}</option>
  </volist>
</select>
 <button   type="button" id="close_group" class="btn btn-default btn-sm group">
确认
</button>
</div>

   <table id="table_id" class="display">
    <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>用户等级</th>
            <th>最后一次登陆时间</th>
            <th>邮箱</th>
 			<th>修改用户等级</th>
        </tr>
    </thead>
    <tbody>

   <volist name="member_data" id="value" key="key" >
        <tr>
            <td>{$key}</td>
            <td >{$value.realname}</td>
            <td id="{$value.id}_group">{$value.group_name}</td>
            <td>{$value.last_login_time}</td>
            <td>1</td>
            <td>  <button type="button" onclick="modify_group({$value['id']},'{$value['realname']}')" class="btn btn-default btn-sm">
      修改
   </button></td>
        </tr>
    </volist>
    </tbody>
</table>
</div>
</body>

<script>
	$(document).ready( function () {
    $('#table_id').DataTable();
});

</script>

</html>
