<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link href="__BOOT__/css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery -->
 <script type="text/javascript" charset="utf8" src="__PUB__/DataTables/js/jquery.js"></script>
 <link rel='stylesheet' href='__PUB__/fullcalendar/lib/cupertino/jquery-ui.min.css' />
 <link href='__PUB__/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='__PUB__/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='__PUB__/fullcalendar/lib/moment.min.js'></script>
<script src='__PUB__/fullcalendar/lib/jquery.min.js'></script>
<script src='__PUB__/fullcalendar/fullcalendar.min.js'></script>
<script src='__PUB__/fullcalendar/lang-all.js'></script>

    <script>
$(window).resize(function(){  
  $('.ueditor_menu').css({  
    position:'absolute',  
    left:($(window).width()-$('.ueditor_show').outerWidth())/2,  
    top:($(window).height()-$('.ueditor_show').outerHeight())/2-$(".ueditor_menu").outerHeight()+$(document).scrollTop(),
    width:$(".ueditor_show").width()
  }) 
  $('.ueditor_show').css({  
    position:'absolute',  
    left:($(window).width()-$('.ueditor_show').outerWidth())/2,  
    top:($(window).height()-$('.ueditor_show').outerHeight())/2+$(document).scrollTop()  
  }) 
    $('.another_ueditor_show').css({  
    position:'absolute',  
    left:($(window).width()-$('.another_ueditor_show').outerWidth())/2,  
    top:($(window).height()-$('.another_ueditor_show').outerHeight())/2+$(document).scrollTop()  
  }) 
    $("#another_editor").css({
      width:$(".ueditor_show").width()  
    })
   
   
}) 

$(function(){
$(window).resize();  
});
</script>   
 <script src="__BOOT__/js/bootstrap.min.js"></script>
 <script src="__PUB__/mtgadmin/mtg.js"></script>
<link rel="stylesheet" type="text/css" href="__PUB__/mtgadmin/member.css">
   <link rel="stylesheet" type="text/css" href="__PUB__/sweetalert-master/dist/sweetalert.css">
 

        <script src="__PUB__/sweetalert-master/dist/sweetalert.min.js"></script> 
    
 <script src="__PUB__/mtgadmin/member.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUB__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUB__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUB__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script>



</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1000px;
    margin: 0 auto;
  }

</style>
</head>
<body>

<input type="hidden" id="get_task_content" value="{:U('Member/Index/get_task_content')}">
<input type="hidden" id="json_task_data" value="{:U('Member/Index/json_task_data')}">
<input type="hidden" id="pub_report_path" value="{:U('Member/Index/pub_report')}">
   <include  file="Public/sbider"  />

    <div class="ueditor_glo"></div>
    <div class="ueditor_menu">
    <!--   <ul class="nav nav-tabs">
        <li class="active"><button  type="button" id="show_ueditor" class="btn btn-danger">显示任务</button></li>
        <li> <button  type="button" class="btn btn-success" id="write_report">写报告</button></li>
        <li> <button  type="button" class="btn btn-success" id="pub_report">提交报告</button></li>
        <li> <button  type="button" class="btn btn-warning" id="close_ueditor">全部关闭</button></li>
      </ul> -->
      <ol class="breadcrumb" style="margin:0px; text-align: center" >
  <li class="active" style="float: left;"><a href="#" id="show_ueditor">显示任务</a></li>
  <li style="float: left;"><a href="#" id="write_report">写报告</a></li>
  <span align="center" id="time_s_e"></span>
  <button  style="float: right;" type="button" class="btn btn-warning" id="close_ueditor">全部关闭</button>
 <button style="float: right;margin-right: 20px"  type="button" class="btn btn-success" id="pub_report">提交报告</button>
   
</ol>
   
    </div>
 
    <div class="ueditor_show">
 <div class="panel panel-info" style="min-height: 650px">
   <div class="panel-heading">
      <h3 class="panel-title" align="center" id="task_title"></h3>
   </div>
   <div class="panel-body" id="task_content" >
   </div>
</div>
    </div>


    <div class="another_ueditor_glo"></div>
        
    <div class="another_ueditor_show">
      <script id="another_editor" type="text/plain" style="width:800px;height:700px;">     
        </script>
    </div>

  <div id="tooltip">
  <div class="font">3天以上的任务</div>
  <div class="color_1 color_all" ></div>
    <div class="font">1-3天的任务</div>
  <div class="color_2 color_all" ></div>
      <div class="font">当天的任务</div>
  <div class="color_3 color_all" ></div>
      <div class="font">小时任务</div>
  <div class="color_4 color_all" ></div>
   </div>
   <div id='calendar'></div>
 
 </body>  


</html>
