<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="zh" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="__PUB__/login_register/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="__PUB__/login_register/css/style.css" />
        <link rel="stylesheet" type="text/css" href="__PUB__/login_register/css/animate-custom.css" />
        <link rel="stylesheet" type="text/css" href="__PUB__/sweetalert-master/dist/sweetalert.css">
        <!-- <link href="__BOOT__/css/bootstrap.min.css" rel="stylesheet"> -->
        <script src="__PUB__/sweetalert-master/dist/sweetalert.min.js"></script>
        <script src="__PUB__/mtgadmin/mtg.js"></script>
        <script src="__JQUERY__/jquery-2.1.1.js"></script>
        <script src="__JQUERY__/jquery-2.1.1.min.js"></script>
        <!-- <script src="__BOOT__/js/bootstrap.min.js"></script> -->
    </head>
    <body style="padding: 20px">
        <div class="container" style="margin:30px">
         <input type="hidden" id="login_judge" value="{:U('Admin/Login/login_judge')}">
         <input type="hidden" id="login_index" value="{:U('Admin/Index/index')}">
         <input type="hidden" id="register_judge" value="{:U('Admin/Login/register_judge')}">
            <section>
                <div id="container_demo" >
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form id="login_form"  action="" autocomplete="on">
                                <h1>登录</h1>
                                <p>
                                    <label for="username" class="uname" data-icon="u" > 用户名 </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="请输入用户名"/>
                                </p>
                                <p>
                                    <label for="password" class="youpasswd" data-icon="p"> 密码</label>
                                    <input id="password" name="password" required="required" type="password" placeholder="请输入密码" />
                                </p>

                                <p class="login button">
                                <input type="button" onclick="login_judge()" value="Sign up"/>
                                </p>
                                <p class="change_link">
                                  还没有注册 ?
                                    <a href="#toregister" class="to_register">加入我们</a>
                                </p>
                            </form>
                        </div>

                        <div id="register" class="animate form">
                            <form  action="" id="register_form" autocomplete="on">
                                <h1> 注册 </h1>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">用户名</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="字母开头，可以包含字母数字或者下划线，长度在6-12位" />
                                </p>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">真实姓名</label>
                                    <input id="realname" name="realname" required="required" type="text" placeholder="请输入您的真实姓名" />
                                </p>
                                <p>
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">密码 </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="6~16个字符，区分大小写"/>
                                </p>
                                <p>
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">再次输入密码 </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="6~16个字符，区分大小写"/>
                                </p>
                                <p class="signin button">
                                  <input type="button" onclick="register_judge()" value="注册"/>
                                </p>
                                <p class="change_link">
                                    已经注册 ?
                                    <a href="#tologin" class="to_register"> 登录 </a>
                                </p>
                            </form>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </body>
</html>