

        .mask{
        display:none;
        width:100%;
        position:fixed;
        background:#fff;
        z-index:10;
        top:0;
        left:0;
        height:100%;
        opacity:0.5;
        }

        .bomb_box  {
            padding: 20px;
        display:none;
        background:#fff;
        position:relative;
        width: 500px;
        height: 200px;
        top:25%;
        left:35%;
        z-index:20;
        /*background:url( "../photo/b1.png");*/
        background-color: orange;
        border-radius: 25px;
        }
        .task_b{
        display:none;
        width:100%;
        position:fixed;
        background:#fff;

        z-index:10;
        top:0;
        left:0;
        height:100%;
        opacity:0.4;
        }

        .task_m{
        display:none;
        background:#fff;
        background-color:green;
        position:fixed;
        max-width: 800px;
        min-height: 300px;
        height: 650px;
        z-index:20;
       overflow: auto;
       font-size: 20px;

        }

         .task_content_glo{
        display:none;
        width:100%;
        position:fixed;
        background:#fff;
        background-color: #f2dede;
        z-index:10;
        top:0;
        left:0;
        height:100%;
        opacity:1;

        }
        .task_content_show{
        display:none;
        overflow: auto;
        width:80%;
        position:fixed;
        background:#fff;
        z-index:10;
        background-color: #fff;
        height:80%;
        opacity:1;
        padding: 30px auto;
        outline:green dotted thick;
        margin-top: 20px;
        }
        .task_content_show_title{
        text-align: center;
         text-shadow: 10px 10px 10px #ddd;
        }

        .theclass{
         position: relative;
        font-size: 20px;
        float: left;
        top: 30px;

        }
        .therank{

        position: absolute;
        float: left;
         font-size: 20px;
         font-weight: normal;
         top: 30px;
        }
        #theselect{
            position: absolute;
           top:70px;
           float: left;

        }
        .thebutton{
            position: relative;
            float: right;
            top: 70px;
        }
        #group{
            float: left;
        margin-top:20%;

        }
         .group{
        float: right;

        margin-top:20%;

        }
        td th{
    text-align: center;
    }
    .table_div{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px
    }
    .new_report{
        float: right;
        margin-top: -10px;
        color: red
    }
   .check_button_hover{
    background-color:red;

   }
   .fc-center{
    margin-top: 100px;
   }