<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="__PUB__/DataTables/css/jquery.dataTables.css">
    <link href="__BOOT__/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" charset="utf8" src="__PUB__/DataTables/js/jquery.js"></script>
  <script type="text/javascript" charset="utf8" src="__PUB__/DataTables/js/jquery.dataTables.js"></script>
  <script src="__BOOT__/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="__PUB__/sweetalert-master/dist/sweetalert.css">
    <script src="__PUB__/sweetalert-master/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" type="text/css" href="__PUB__/mtgadmin/admin.css">
        <!-- <link rel="stylesheet" type="text/css" href="__PUB__/mtgadmin/mtg.css"> -->

    <script src="__PUB__/mtgadmin/admin.js"></script>

       <script type="text/javascript" charset="utf-8" src="__PUB__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUB__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUB__/ueditor/lang/zh-cn/zh-cn.js"></script>
  <script>
     var ue = UE.getEditor('another_editor',{
            initialFrameHeight:  $(window).height()*0.8,
            });

  </script>
     <style type="text/css">

  .label-warning{
 background-color: #ff5722;
}
  </style>
</head>
   <include  file="Public/sbider"  />
<body style="background:url('__PUB__/photo/b10.jpg')">

  <div class="table_div" >
    <input type="hidden" id="index_path" value="{:U('Admin/Index/index')}">
   <input type="hidden" id="get_task_content" value="{:U('Admin/Task/get_task_content')}">
    <input type="hidden" id="push_content_path" value="{:U('Admin/Task/push_content')}">







   <div class="task_content_glo">
   <div style="width: 10%;height: 70px;float: right;margin-top: 5%"></div>


   <h2 class="task_content_show_title"></h2>

   </div>

   <div class="task_content_show">


   <div class="panel panel-success">
   <div class="panel-heading">
    <button type="button" class="btn btn-danger" id="close_task_content" style="float: right;margin-top:-10px">关闭</button>
     <button type="button" class="btn btn-success" id="modify_content" style="float: right;margin-top:-10px;margin-right: 10px">
    修改
    </button>
      <button type="button" class="btn btn-info" id="push_content" style="float: right;margin-top:-10px;margin-right: 10px">
    提交修改
    </button>
      <h3 class="panel-title" align="center" id="task_title"></h3>
   </div>

   <div class="panel-body task_content_show_content">

   </div>

     <div class="another_ueditor_show">
      <script id="another_editor" type="text/plain" style="">
        </script>
    </div>
</div>

   </div>


     <button type="button" class="btn btn-danger " style="padding:4px 8px;font-size:14px;float: right;margin-top: 8px">
      <a href="javascript:" onclick="back_admin_index()" style="text-decoration:none; color: white;">返回</a>

   </button>
 <h2 align="center" style="color: orange">任务列表</h2>
 <h3 align="center" style="color: #5cb85c;margin-right: 30px">姓名：{$member_realname}</h3>
   <table id="table_id" class=" stripe">
    <thead>
        <tr>
            <th ><span class="label label-warning" >序号</span></th>
            <th><span class="label label-warning">开始时间</span></th>
            <th><span class="label label-warning">结束时间</span></th>
            <th><span class="label label-warning">状态</span></th>
              <th><span class="label label-warning">标题</span></th>
            <th><span class="label label-warning">内容</span></th>
      <th><span class="label label-warning">报告</span></th>

        </tr>
    </thead>
    <tbody>

   <volist name="task_data" id="value" key="key" >
        <tr id="task_tr_{$value.id}">
            <td>{$key}</td>
          <td>{$value.start_time}</td>
          <td>{$value.end_time}</td>
          <if condition="$value['apply'] eq 0">

          <td>未完成</td>
          <else />
          <td><button type="button" style="margin-left: -12px" class="btn btn-default "  id="check_{$value.id}" onmouseover="check_over({$value['id']}) " onmouseout="check_out({$value['id']})" onclick="check_click({$value['id']})" >待审核</button></td>
           </if>
           <td>
           {$value.title}
           </td>
               <td>
               <button type="button"  onclick="view_task_content({$value['id']})"  class="btn btn-success">
                查看
               </button>
               </td>
                  <td>
                    <a href="{:U('Admin/Report/index',array('task_id'=>$value['id'],'realname'=>$member_realname))}">
                    <if condition="($value.status neq  null) and ($value.status neq 1)">
                      <label class="new_report" for="">新</label>
                      <else />
                    </if>
                    <button type="button" onclick=""  class="btn btn-primary">
                    查看
                    </button>
                   </a>
                  </td>

        </tr>
    </volist>
    </tbody>
</table>
</div>
</body>
<script>
    $(document).ready( function () {
   $('#table_id').DataTable({
    language: {
        "sProcessing": "处理中...",
        "sLengthMenu": "显示 _MENU_ 项结果",
        "sZeroRecords": "没有匹配结果",
        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix": "",
        "sSearch": "搜索:",
        "sUrl": "",
        "sEmptyTable": "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands": ",",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上页",
            "sNext": "下页",
            "sLast": "末页"
        },
        "oAria": {
            "sSortAscending": ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
        }
    },

});
});

  $(window).resize(function(){

  $('.task_content_show').css({
    position:'absolute',
    left:($(window).width()-$('.task_content_show').outerWidth())/2,
    top:($(window).height()-$('.task_content_show').outerHeight())/2+$(document).scrollTop()
  })

})

$(function(){

$(window).resize();
});
</script>
</html>